<!-- <header class="hero-section"> -->
<!-- <nav class="navbar navbar-expand-lg fixed-top custom-navbar text-dark" [ngClass]="{'scrolled': isScrolled}">
    <div class="menu-icon text-dark  d-lg-none" (click)="toggleMenu()">☰</div>
    <a class="navbar-brand mx-6" href="#">align</a>
    <div class="menu-container" *ngIf="isMenuOpen">
      <div class="d-flex ">
        <button class="close-btn mt-2 ml-auto icon-child-1 small fs-6" (click)="toggleMenu()"><i class="fa fa-close"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="container">
      <div class="collapse navbar-collapse ml-8" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown p-2 position-static">
            <a class="nav-link fw-bold mx-2 card-2 dropdown-toggle text-white" href="#" role="button"
              data-bs-toggle="dropdown">Projects</a>
            <div class="dropdown-menu mega-menu menu-item-2 rounded-0 border-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="dropdown-row mt-1">
                      <ul>
                        <li *ngFor="let keyword of starthere" class="small fw-medium py-2">{{ keyword }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item position-static mt-2">
            <a class="nav-link text-white mx-2 card-2" href="#">
              services
            </a>
          </li>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item dropdown position-static">
                <a class="nav-link dropdown-toggle mx-2 card-2 text-white" href="#" role="button"
                  data-bs-toggle="dropdown">
                  Learn
                </a>
                <div class="dropdown-menu mega-menu menu-item-3 pl-2 rounded-0 border-0">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="dropdown-row mt-1">
                          <ul>
                            <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <li class="nav-item dropdown position-static mt-2">
            <a class="nav-link dropdown-toggle mx-2 card-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
              About
            </a>
            <div class="dropdown-menu mega-menu menu-item-1 rounded-0 border-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="dropdown-row mt-1">
                      <ul>
                        <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>


        <div class="ml-auto">
          <button type="button"
            class="btn btn-outline-light button text-white fw-bold border-2 border-white rounded-0 px-4" [ngClass]="{'scrolled-btn': isScrolled}">Book a quick
            chat</button>
        </div>
      </div>
    </div>
  </nav> -->










<!-- <header class="hero-section">
    <nav class="navbar navbar-expand-lg fixed-top custom-navbar text-dark" [ngClass]="{'scrolled': isScrolled}">
      <div class="menu-icon text-dark d-lg-none" (click)="toggleMenu()">☰</div>
 
      <a class="navbar-brand mx-6" href="#">align</a>
      <div class="menu-container sidebar" [ngClass]="{'open': isMenuOpen}">
        <div class="d-flex justify-content-between align-items-center p-3">
          <h5 class="mb-0">Menu</h5>
          <button class="close-btn btn btn-light" (click)="toggleMenu()">
            <i class="fa fa-close"></i>
          </button>
        </div>
  
        <ul class="list-unstyled px-3">
          <li *ngFor="let item of menuItems" (click)="navigateTo(item)" class="py-2 border-bottom">
            {{ item.label }}
          </li>
        </ul>
      </div>
      <div class="menu-overlay" *ngIf="isMenuOpen" (click)="toggleMenu()"></div>
  
      <div class="container">
        <div class="collapse navbar-collapse ml-8" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown p-2 position-static">
              <a class="nav-link fw-bold mx-2 dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                Projects
              </a>
              <div class="dropdown-menu mega-menu menu-item-2 rounded-0 border-0">
                <ul>
                  <li *ngFor="let keyword of starthere" class="small fw-medium py-2">{{ keyword }}</li>
                </ul>
              </div>
            </li>
            <li class="nav-item position-static mt-2">
              <a class="nav-link text-white mx-2" href="#">Services</a>
            </li>
            <li class="nav-item dropdown position-static">
              <a class="nav-link dropdown-toggle mx-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
                Learn
              </a>
              <div class="dropdown-menu mega-menu menu-item-3 rounded-0 border-0">
                <ul>
                  <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown position-static mt-2">
              <a class="nav-link dropdown-toggle mx-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
                About
              </a>
              <div class="dropdown-menu mega-menu menu-item-1 rounded-0 border-0">
                <ul>
                  <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="ml-auto">
            <button type="button" class="btn btn-outline-light text-white fw-bold border-2 border-white rounded-0 px-4">
              Book a quick chat
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header> -->

<!-- small screen add in this navbar few morechages to adjust -->

<!-- <header class="hero-section">
  <nav class="navbar navbar-expand-lg fixed-top custom-navbar text-dark" [ngClass]="{'scrolled': isScrolled}">
    <div class="menu-icon text-dark d-lg-none" (click)="toggleMenu()">☰</div>
    <a class="navbar-brand mx-6" href="#">align</a>
    <div class="sidebar" [ngClass]="{'open': isMenuOpen}">
      <div class="d-flex justify-content-end">
        <button class="close-btn mt-2 ml-auto small fs-6" (click)="toggleMenu()">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <ul class="sidebar-nav">
        <div class="">
          <div class="" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item dropdown p-2 position-static">
                <a class="nav-link fw-bold mx-2 card-2 dropdown-toggle" href="#" role="button"
                  data-bs-toggle="dropdown">Projects</a>
                <div class="dropdown-menu mega-menu menu-item-2 rounded-0 border-0">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="dropdown-row mt-1">
                          <ul>
                            <li *ngFor="let keyword of starthere" class="small fw-medium py-2">{{ keyword }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item position-static mt-2">
                <a class="nav-link mx-2 card-2" href="#">Services</a>
              </li>
              <li class="nav-item dropdown position-static mt-2">
                <a class="nav-link dropdown-toggle mx-2 card-2" href="#" role="button" data-bs-toggle="dropdown">
                  Learn
                </a>
                <div class="dropdown-menu mega-menu menu-item-3 pl-2 rounded-0 border-0">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="dropdown-row mt-1">
                          <ul>
                            <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static mt-2">
                <a class="nav-link dropdown-toggle mx-2 card-2" href="#" role="button" data-bs-toggle="dropdown">
                  About
                </a>
                <div class="dropdown-menu mega-menu menu-item-1 rounded-0 border-0">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="dropdown-row mt-1">
                          <ul>
                            <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="ml-auto">
              <button type="button"
                class="btn btn-outline-light button text-white fw-bold border-2 border-white rounded-0 px-4"
                [ngClass]="{'scrolled-btn': isScrolled}">
                Book a quick chat
              </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="container">
      <div class="collapse navbar-collapse ml-8" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown p-2 position-static">
            <a class="nav-link fw-bold mx-2 card-2 dropdown-toggle text-white" href="#" role="button"
              data-bs-toggle="dropdown">Projects</a>
            <div class="dropdown-menu mega-menu menu-item-2 rounded-0 border-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="dropdown-row mt-1">
                      <ul>
                        <li *ngFor="let keyword of starthere" class="small fw-medium py-2">{{ keyword }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item position-static mt-2">
            <a class="nav-link text-white mx-2 card-2" href="#">Services</a>
          </li>
          <li class="nav-item dropdown position-static mt-2">
            <a class="nav-link dropdown-toggle mx-2 card-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
              Learn
            </a>
            <div class="dropdown-menu mega-menu menu-item-3 pl-2 rounded-0 border-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="dropdown-row mt-1">
                      <ul>
                        <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown position-static mt-2">
            <a class="nav-link dropdown-toggle mx-2 card-2 text-white" href="#" role="button" data-bs-toggle="dropdown">
              About
            </a>
            <div class="dropdown-menu mega-menu menu-item-1 rounded-0 border-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="dropdown-row mt-1">
                      <ul>
                        <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="ml-auto">
          <button type="button"
            class="btn btn-outline-light button text-white fw-bold border-2 border-white rounded-0 px-4"
            [ngClass]="{'scrolled-btn': isScrolled}">
            Book a quick chat
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero-content">
    <h1>high-quality, unique, healthy homes</h1>
  </div>
</header> -->






<header class="hero-section">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top custom-navbar text-dark" [ngClass]="{'scrolled': isScrolled}">
    <div class="menu-icon text-dark d-lg-none" (click)="toggleMenu()">☰</div>
    <a class="navbar-brand fw-bold" href="#">align<sup>&reg;</sup></a>
    <!-- <a class="navbar-brand mx-6" href="#">align</a> -->

    <!-- Sidebar Menu (For Small Screens) -->
    <div class="sidebar" [ngClass]="{'open': isMenuOpen}">
      <div class="d-flex justify-content-end">
        <!-- <button class="close-btn mt-2 ml-auto small fs-6" (click)="toggleMenu()">
          <i class="fa fa-close"></i>
        </button> -->
        <button class="close-btn mt-2 ml-auto small fs-6" (click)="toggleMenu()"><i class="fa fa-close"
            aria-hidden="true"></i></button>
      </div>


      <ul class="sidebar-nav text-left">
        <li class="nav-item dropdown">
          <a class="nav-link fw-bold dropdown-toggle d-flex justify-content-between align-items-center" href="#"
            role="button" data-bs-toggle="collapse" data-bs-target="#projectsDropdown">
            Projects
          </a>
          <div class="collapse text-left" id="projectsDropdown">
            <ul>
              <li *ngFor="let keyword of starthere" class="small fw-medium text-left">{{ keyword }}</li>
            </ul>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Services</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link fw-bold dropdown-toggle d-flex justify-content-between align-items-center" href="#"
            role="button" data-bs-toggle="collapse" data-bs-target="#learnDropdown">
            Learn
          </a>
          <div class="collapse" id="learnDropdown">
            <ul>
              <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link fw-bold dropdown-toggle d-flex justify-content-between align-items-center" href="#"
            role="button" data-bs-toggle="collapse" data-bs-target="#aboutDropdown">
            About
          </a>
          <div class="collapse" id="aboutDropdown">
            <ul>
              <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="text-left mt-3">
        <button type="button" class="btn btn-outline-dark fw-bold border-2 rounded-0 px-4">
          contact us
        </button>
      </div>
      <ul class="list-unstyled mx-3 text-left">
        <div class="footer-side-1">
          <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">0409 169 081</a></li>
          <li><a href="#" class="text-decoration-none footer-side">helloalign.build</a></li>
        </div>
        <div class="text-left mt-4">
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram text-dark"></i></a>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook my-2 px-4 text-dark"></i></a>
          <a href="https://www.primevideo.com" target="_blank"><i class="fas fa-play-circle text-dark"></i></a>
        </div>
      </ul>
    </div>




    <!-- sidebar -->
    <nav class="navbar navbar-expand-lg fixed-top text-dark">
      <div class="menu-container" *ngIf="isMenuOpen">
      </div>
      <div class="container  align-items-center justify-content-between">
        <div class="collapse navbar-collapse ml-8" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item dropdown p-2">
              <a class="nav-link fw-bold dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#projectsDropdown">
                Projects
              </a>
              <div class="collapse text-left  menu-item-2  mega-menu rounded-0 border-0" id="projectsDropdown">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="dropdown-row mt-1">
                        <ul>
                          <li *ngFor="let keyword of starthere" class="small fw-medium py-2">{{ keyword }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>  -->
            <!-- <li class="nav-item position-static mt-2">
              <a class="nav-link mx-2 card-2" href="#">
                services
              </a>
            </li> -->
            <!-- <li class="nav-item dropdown p-2">
              <a class="nav-link fw-bold dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#projectsDropdown">
                Projects
              </a>
              <div class="collapse text-left  menu-item-3  mega-menu rounded-0 border-0" id="projectsDropdown">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="dropdown-row mt-1">
                        <ul>
                          <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li> -->
            <!-- <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item dropdown position-static">
                  <a class="nav-link dropdown-toggle mx-2 card-2" href="#"
                    data-bs-toggle="dropdown"  role="button" data-bs-toggle="collapse" data-bs-target="#learnDropdown">
                    Learn
                  </a>
                  <div class="dropdown-menu mega-menu menu-item-3 pl-2 rounded-0 border-0">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="dropdown-row mt-1">
                            <ul>
                              <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->
            <!-- <li class="nav-item dropdown position-static mt-2">
              <a class="nav-link  dropdown-toggle mx-2 card-2" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu mega-menu menu-item-1 rounded-0 border-0">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="dropdown-row mt-1">
                        <ul>
                          <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li> -->




            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <div class="container-fluid">
                <!-- <a class="navbar-brand fw-bold" href="#">align<sup>&reg;</sup></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold" href="#" id="learnDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                      <ul class="dropdown-menu menu-item-2 pl-2 rounded-0 border-0" aria-labelledby="learnDropdown">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="dropdown-row mt-1">
                                <ul>
                                  <li *ngFor="let keyword of starthere" class="small fw-medium py-2">{{ keyword }}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ul>
                    </li>
                    <li class="nav-item mx-3">
                      <a class="nav-link fw-bold" href="#">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold" href="#" id="learnDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">learn</a>
                      <ul class="dropdown-menu menu-item-3 pl-2 rounded-0 border-0" aria-labelledby="learnDropdown">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="dropdown-row mt-1">
                                <ul>
                                  <li *ngFor="let keyword of learnabout" class="small fw-medium py-2">{{ keyword }}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ul>
                    </li>
                    <li class="nav-item dropdown mx-3">
                      <a class="nav-link dropdown-toggle fw-bold" href="#" id="aboutDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">about</a>
                        <div class="dropdown-menu pl-2 rounded-0 border-0 mt-4">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="dropdown-row mt-1">
                                  <ul>
                                    <li *ngFor="let keyword of socailIndustries" class="small fw-medium py-2">{{ keyword }}</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>



































          </ul>
          <!-- <div class="ml-auto">
            <button class="btn theme-toggle-btn" (click)="toggleTheme()">
              <i [ngClass]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
            </button>
          </div> -->


          <div class="ml-auto">
            <button type="button"
              class="btn btn-outline-light button text-white fw-bold border-2 border-white rounded-0 px-4"
              [ngClass]="{'scrolled-btn': isScrolled}">
              Book a Quick chat
            </button>
          </div>
        </div>
      </div>
    </nav>
  </nav>

  <div class="hero-content">
    <h1>high-quality, unique, healthy homes</h1>
  </div>
</header>




















<!-- <div class="hero-content">
    <h1>high-quality, unique, healthy homes</h1>
  </div>
</header> -->

<!-- card section -->
<div class="card-8">
  <div class="card-4">
    <div class="container py-5">
      <div class="row">
        <!-- Card 1 -->

        <div class=" col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-2">
          <p-card>
            <div class="custom-card">
              <i class="fa-regular fa-heart icon my-3"></i>
              <h3 class="card-title text-center mt-4">designed around <br> your lifestyle</h3>
              <p class="card-text mt-4 text-center">
                Our proven methodology guides you through the process of designing a dream home that is built around
                your
                lifestyle.
              </p>
              <a href="#" class="read-more">read more</a>
            </div>
          </p-card>
        </div>


        <!-- Card 2 -->

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-2">
          <p-card>
            <div class="custom-card py-7">
              <i class="fa-solid fa-key icon my-3"></i>
              <h3 class="card-title mt-4">built on time and on budget</h3>
              <p class="card-text mt-4">
                We collaborate with builders to ensure your dream home is planned and built on time and on budget.
              </p>
              <a href="#" class="read-more">read more</a>
            </div>
          </p-card>
        </div>

        <!-- Card 3 -->

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-2">
          <p-card>
            <div class="custom-card">
              <i class="fa-solid fa-tree icon my-3"></i>
              <h3 class="card-title text-center mt-4">making the world better one home at a time</h3>
              <p class="card-text mt-4">
                Our mission is to build carbon-positive homes, and for every home we design and build, 650 trees are
                planted.
              </p>
              <a href="#" class="read-more">read more</a>
            </div>
          </p-card>
        </div>

      </div>
    </div>


    <video width="100%" height="100%" controls id="myVideo" width="100%">
      <source src="https://align.build/wp-content/uploads/2021/05/video-2.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>


    <div class="container-fluid">
      <div class="row mx-2 mt-8">
        <h2 class="fw-bold card-3 fs-2 mt-8">three ways things go wrong when <br> building your dream home</h2>
        <p class="fw-medium card-text mt-2">and how to overcome them</p>
        <div class="container text-center feature-section">
          <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 feature-item border-left">
              <p-card>
                <i class="fa fa-user icon" aria-hidden="true"></i>
                <h3 class="mt-4 fw-medium mt-4">quality control</h3>
                <p class="card-4 text-left mt-4">In most builds, the devil is in the detail. Vague and imprecise plans
                  force
                  builders to make decisions on-site that can take the design off track.</p>
                <p class="card-4 text-left">The Aligned Home® process uses the BuildPrint - which details each and every
                  variable and takes out all the surprises.</p>
              </p-card>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 feature-item">
              <p-card>
                <i class="fa fa-home icon" aria-hidden="true"></i>
                <h3 class="mt-4 fw-medium mt-4">built on time and on budget</h3>
                <p class="card-4 text-left mt-4"> Custom-designed building projects are notorious for running over time
                  and
                  budget.</p>
                <p class="card-4 text-left">Our 'Architect-Builder-Client Model' allows for all costs from the start, so
                  we
                  can provide an accurate estimated project budget. This enables your builder to provide a fixed-price
                  construction quote.</p>
              </p-card>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 feature-item">
              <p-card>
                <i class="fa fa-user-secret icon" aria-hidden="true"></i>
                <h3 class="mt-4 fw-medium mt-4">design overwhelm</h3>
                <p class="card-4 text-left mt-4">Designing a home is a project with 1001 moving parts. Each decision
                  unpacks
                  more complexity.</p>
                <p class="card-4 text-left">Our design team will guide you through our three-stage design process, using
                  our
                  six-element method. Your architect, interior designer, and builder will work with you on all decisions
                  from start to finish.</p>
              </p-card>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12">
          <div class="image-hero">
            <img src="https://align.build/wp-content/uploads/2023/06/Copy-of-Davies_SkylineDR_34-1-609x1024.jpg" alt=""
              class="image-hero">
            <!-- <img src="https://align.build/wp-content/uploads/2023/06/Copy-of-Davies_SkylineDR_25-1536x1025.jpg" alt=""
            class="image-hero"> -->
          </div>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-10 col-md-12 col-sm-12 mt-8">
          <p-card>
            <div class="herosection">
              <h2 class="fw-bold ">custom design, clarity and communication</h2>
              <p class="text-center mt-4 fw-medium">how we design your forever home</p>
              <p class="">Align guides you through the architecture of your dream home with our signature Six Elements
                of
                a
                Dream
                Home methodology to capture your needs in all aspects of your life.</p>
              <p class="mt-4">Our architect and interior designer works with your builder and with you on the BuildPrint
                to
                pin down
                every detail. This allows your builder to accurately cost and schedule the project from the start.</p>
              <div class="d-flex justify-content-center align-items-center mt-5">
                <button class="btn btn-outline-dark fw-bold rounded-0 px-3 button-hero">explore align's design
                  methodology</button>
              </div>
            </div>
          </p-card>
        </div>

      </div>
    </div>
    <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img src="https://align.build/wp-content/uploads/2023/06/Copy-of-Davies_SkylineDR_25-1536x1025.jpg" alt=""
          class="hero-1">
      </div>
    </div>
  </div> -->
    <!-- <div class="mt-8">
    <img src="https://align.build/wp-content/uploads/2023/06/Copy-of-Davies_SkylineDR_25-1536x1025.jpg" alt=""
      class="hero-1">
  </div> -->
  </div>

  <div class="hero-section mt-8">
    <div class="overlay"></div>
    <div class="hero-content">
      <h1 class="card-7 fw-bold">ask the questions that your <br> home needs to answer</h1>
      <button class="btn btn-outline-light px-5 mt-4 button fw-bold rounded-0 px-3 button-hero-2">take our dream home
        evaluation</button>
    </div>
  </div>

  <div class="container-fluid mt-8">
    <div class="row align-items-center mx-6">
      <!-- Left Side - Image -->
      <div class=" col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <img src="https://align.build/wp-content/uploads/2021/05/i-img-15.jpg" class="image-hero-1" alt="Koala Image">
      </div>

      <!-- Right Side - Text Content -->
      <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 mt-6">
        <p-card>
          <h1 class="title">environmentally designed sanctuaries</h1>
          <p class="subtitle">from concept to completion</p>
          <p>
            Align believes that good design should be good for people and good for the planet,
            and our mission is to accelerate the move towards carbon-positive homes.
          </p>
          <p>
            Align designs homes that are built for your family's health and happiness.
            And for every home we design and build, we are dedicated to planting 650 trees.
          </p>
          <p>
            This is the Tree+House Project and this is a part of our commitment to making
            the world a better place, one home at a time.
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-outline-dark  px-4 mt-4 button fw-medium rounded-0 px-3 button-hero-2">mission and
              tree+house project</button>
          </div>
        </p-card>
      </div>
    </div>
  </div>

  <div class="container text-center my-5">
    <div class="row">
      <div class="col-12">
        <p-card>
          <div class="d-flex justify-content-center align-items-center">
            <img src="" alt="Leaf Icon" class="icon-2">
            <h5 class="fw-medium subtitle-icon mt-2">we believe in a future that is built to grow</h5>
          </div>
          <h5 class="main-text fw-medium">
            for every dream home designed with align <br>
            <span class="bold-text">150 trees are planted.</span>
          </h5>

          <!-- Second Statement -->
          <h5 class="main-text fw-medium mt-4">
            for every dream home built, <br>
            <span class="bold-text">500 trees are planted.</span>
          </h5>
        </p-card>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Top Section -->
    <div class="row text-center text-white">
      <!-- Left Section -->
      <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 section bg-image-left">
        <p-card>
          <h2 class="title text-white">built projects</h2>
          <p class="subtitle text-white">
            where our clients' dream designs become a part of their reality
          </p>
          <button class="btn btn-outline-light px-5 mt-4 button fw-bold rounded-0 px-3 button-hero-2 w-75">explore
            projects</button>
        </p-card>
      </div>

      <!-- Right Section -->
      <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 section bg-image-right">
        <p-card>
          <h2 class="title text-white">dream home book</h2>
          <p class="subtitle text-white">
            get your copy of our founder's field guide to designing and building your dream home.
          </p>
          <button class="btn btn-outline-light px-5 mt-4 button fw-bold rounded-0 px-3 button-hero-2 w-75">get your
            book</button>
        </p-card>
      </div>
      <div class="banner">
        <div class="container banner-1 justify-content-between">
          <div class="left-content">
            <i class="fas fa-seedling"></i>
            <span class="text ms-2 ml-5">16,348 trees planted</span>
          </div>
          <div class="right-content fw-normal">
            <span>our mission is to plant 1 million trees by 2050</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 ccol-md-12 col-sm-12">
        <div>
          <div class="signup-section text-center mt-5">
            <h2 class="title">
              sign up for our 7 steps to building your dream home guide
            </h2>
            <form class="signup-form d-flex  justify-content-center align-items-center">
              <input type="text" placeholder="Enter your name" class="form-control" />
              <input type="email" placeholder="Enter your email" class="form-control" />
              <button type="submit" class="btn signup-btn rounded-0">sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt-8 text-center">
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3">
        <h6 class="title-footer mb-3 mx-4">Services</h6>
        <ul class="list-unstyled mt-4">
          <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">project possibilities</a></li>
          <li><a href="#" class="text-decoration-none footer-side">home design</a></li>
        </ul>
      </div>
      <!-- seccond -->
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3">
        <h6 class="title-footer mb-3 mx-4">learn</h6>
        <ul class="list-unstyled mx-3 mt-4">
          <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">dream home evaluation</a></li>
          <li><a href="#" class="text-decoration-none footer-side">design journal & articles</a></li>
          <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">dream home workshop</a></li>
          <li><a href="#" class="text-decoration-none footer-side">dream home book</a></li>
        </ul>
      </div>
      <!-- third column -->
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3">
        <h6 class="title-footer mb-3 mx-4">about</h6>
        <ul class="list-unstyled mx-3 mt-4">
          <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">mission & purpose</a></li>
          <li><a href="#" class="text-decoration-none footer-side">team</a></li>
          <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">careers</a></li>
        </ul>
      </div>
      <!-- forth column -->
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-3">
        <h6 class="title-footer mb-3 ml-6">contact us</h6>
        <ul class="list-unstyled mx-3 mt-4">
          <div>
            <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">0409 169 081</a></li>
            <li><a href="#" class="text-decoration-none footer-side">helloalign.build</a></li>
            <li class="my-2 fw-medium"><a href="#" class="text-decoration-none footer-side">Career Opportunities</a>
            </li>
          </div>
          <!-- <div class="text-end social-icons ms-auto text-white">
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook my-2"></i></a>
          <a href="https://www.primevideo.com" target="_blank"><i class="fas fa-play-circle"></i></a>
        </div> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="card-1 mt-5">
    <div class="container  values-section">
      <h3 class="fw-medium text-center py-4">our values</h3>
      <div class="row text-center align-items-center justify-content-center mt-4">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3">
          <i class="fa-solid fa-hard-drive fw-medium text-white icon"></i>
          <h6 class="mt-4 text-center fw-medium text-white">be bold</h6>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3">
          <i class="fa-solid fa-earth-americas text-white icon"></i>
          <h6 class="mt-4 text-center fw-medium text-white">have fun</h6>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3">
          <i class="fa-solid fa-snowflake fw-medium text-white icon"></i>
          <h6 class="mt-4 text-center fw-medium text-white">align for good</h6>
        </div>
      </div>
    </div>
    <hr class="text-white mx-4">
    <div class="footer p-1">
      <h4 class="text-white fw-normal ml-5 mt-3">align</h4>
      <p class="ms-auto text-white footer-text mx-8 fw-medium mt-3">© 2025 align.build | All rights reserved | <a
          href="#" class="text-white">Terms & Privacy</a></p>
    </div>
  </div>

</div>