/* Default Light Theme */
body, html {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Theme */
.dark-theme, .dark-theme body, .dark-theme html {
  background-color: #121212 !important;
  color: white !important;
}

/* Apply Dark Mode to Common Elements */
.dark-theme a {
  color: #bb86fc; /* Light purple for links */
}


.dark-theme .container, 
.dark-theme .content,  
.dark-theme .section {
  /* background-color: #1e1e1e !important; */
  color: white !important;
  /* border: 1px solid #333; */
}

/* Inputs, Buttons, and Forms */
.dark-theme .card
.dark-theme textarea,
.dark-theme select {
  background-color: #222 !important;
  color: white !important;
  border: 1px solid #444 !important;
}

/* PrimeNG Components */
.dark-theme p-table, 
.dark-theme p-dialog, 
.dark-theme p-panel {
  background-color: #1e1e1e !important;
  color: white !important;
  /* border: 1px solid #333 !important; */
}
