/* Light Theme (Default) */
body {
  background-color: #f5f5f5; /* Light Gray */
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Theme */
.dark-theme {
  background-color: #1e1e1e !important; /* Dark Background */
  color: #ddd !important;
}

/* Apply Dark Mode to Navbar, Footer, and Other Elements */

.dark-theme .card{
  background-color: #2c2c2c !important;
  color: white !important;
}
.dark-theme p, h1, h2,h3,h4 {
  color: #f5f5f5;
}
/* Dark Mode for Buttons */
/* .dark-theme .btn {
  background-color: #444 !important;
  color: white !important;
} */

/* Change Theme Toggle Icon Color */
.theme-toggle-btn i {
  color: black; /* Default Light Mode */
}

/* .dark-theme .theme-toggle-btn i {
  color: yellow;
} */
